.container{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.footer{
  position: inherit;
  text-align: center;
  text-decoration:none;
  padding: 10px;
  font-weight: bold;
  border-radius: 8px;
}
.app{

}

#root {

}
