@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Project Filter */
.project-filter {
  margin: 30px auto;
}
.project-filter nav {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
}
.project-filter p {
  font-size: 0.9em;
  margin-right: 10px;
}
.project-filter button {
  background: transparent;
  border: 0;
  font-family: inherit;
  font-weight: bold;
  color: var(--text-color);
  cursor: pointer;
  border-right: 1px solid #e4e4e4;
  font-size: 0.9em;
}
.project-filter button:last-child {
  border: 0;
}
.project-filter button.active {
  color: var(--primary-color);
} 

/* Project Comments */
.project-comments label {
  margin-bottom: 0px;
}
.project-comments textarea {
  min-height: 40px;
  font-size: 1.5em;
}

.project-comments h4 {
  color: var(--heading-color);
}
.project-comments li {
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  margin-top: 20px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
  background: #fff;
  list-style-type: none;
}
.comment-author {
  display: flex;
  align-items: center;
  color: var(--title-color);
}
.comment-author .avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.comment-date {
  color: var(--text-color);
  font-size: 0.9em;
  margin: 4px 0 10px;
}
.comment-content {
  color: var(--text-color);
  font-size: 0.9em;
}

/* Project Summary */
.project-summary {
  background-color: #fff;
  padding: 30px;
  border-radius: 4px;
}
.project-summary .due-date {
  margin: 10px 0;
  font-size: 0.9em;
  color: var(--title-color);
}
.project-summary .details {
  margin: 30px 0;
  color: var(--text-color);
  line-height: 1.8em;
  font-size: 0.9em;
}
.project-summary h4 {
  color: var(--text-color);
  font-size: 0.9em;
}
.project-summary .assigned-users {
  display: flex;
  margin-top: 20px;
}
.project-summary .assigned-users .avatar {
  margin-right: 10px;
}
.project-summary + .btn {
  margin-top: 20px;
}

/* Project Details */
.project-details {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: start;
  grid-gap: 60px;
}

/* Project List */
.project-list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 20px;
  
}
.project-list a {
  padding: 16px;
  border-radius: 6px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  text-decoration: none;
  color: inherit;
}
.project-list h4 {
  font-size: 0.9em;
  color: var(--heading-color);
}
.project-list p {
  color: var(--text-color);
  font-size: 0.9em;
}
.project-list .assigned-to {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}
.project-list ul {
  margin: 10px 0;
  display: flex;
}
.project-list li {
  margin-right: 10px;
  list-style-type: none;
}
.project-list .avatar {
  width: 30px;
  height: 30px;
}

/* Login Form */
.auth-form {
  max-width: 250px;
  margin: 60px auto;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
  background: #fff;
}

/* Create a new Project Form */
.create-form {
  max-width: 600px;
}

/* User list |Right side bar|  while logged in */
.user-list .online-user {
  display: inline-block;
  margin-right: 10px;
  width: 12px;
  height: 12px;
  background: #0ebb50;
  border-radius: 50%;
  margin-top: 2px;
}
.user-list {
  width: 200px;
  min-width: 200px;
  padding: 30px;
  box-sizing: border-box;
  color: var(--heading-color);
}
.user-list h2 {
  text-align: right;
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 1.2em;
}
.user-list .user-list-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px auto;
}
.user-list h2{
  text-align: center;
}
.user-list .avatar {
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

/* User Avatar */
.avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar img {
  width: 100%;
  height: 100%;
}

/* Left Sidebar while logged in */
.sidebar {
  width: 200px;
  min-width: 200px;
  background: var(--primary-color);
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  align-items: left;
  color: #fff;
}
.sidebar-content {
  position: fixed;
  width: inherit;
  margin-left: 10px;
}
.sidebar .user {
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  padding: 40px 30px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.sidebar .links {
  margin-top: 40px;
  margin-left: 0px;
}

.sidebar .links li {
  margin-top: 10px;
  list-style-type: none;
}
.sidebar .links a {
  display: flex;
  padding: 0px;
  text-decoration: none;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
}
.sidebar .links img {
  margin-right: 0px;
  filter: invert(100%);
}
.sidebar .links a.active {
  color: #555;
  background: var(--bg-color);
  border-radius: 20px 0 0 20px;
}
.sidebar .links .active img {
  filter: invert(40%);
}

/* Top Navbar with links to pages */
.navbar {
  padding: 10px auto;
  display: flex;
  align-items: center;
  max-width: 100vw;
  margin: 10 auto;
  border-bottom: 1px solid black;
}
.navbar h1 {
  color: green;
}
.navbar .links {
  margin: auto;
  
}
.navbar a {
  margin-left: 16px;
  text-decoration:none;
  padding: 6px;
  background-color: tan;
  font-weight: bold;
  border-radius: 8px;
}
.navbar button {
  margin-left: 16px;
  text-decoration:none;
  padding: 10px;
  background-color: tan;
  font-weight: bold;
  border-radius: 8px;
}
.navbar button:hover {
  color:green;
}
.navbar a:hover {
  color:green;
}

.navbar-routes div{
display: block;
}

/* Contact filters */
.contact-filter button{
  margin-left: 16px;
  text-decoration:none;
  padding: 6px;
  background-color: tan;
  font-weight: bold;
  border-radius: 8px;
}
.contact-list {
width: 100%;
margin: 10px auto;
list-style-type: none;
}
.contact-list ul{
padding: 0;
list-style-type: none;
}
.contact-list li {
  border: 1px solid black;
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 4px 4px 6px tan;
  border-radius: 4px;
  list-style-type: none;
  margin: 5px 0;
}

/* Global styling */

* {
  margin: 10px;
  font-family: "Quicksand";
  color: #333;

}
h1 {
    color: black;
    background-color: tan;
    border-radius: 8px;
}
h2 {
  color: black;
  background-color: tan;
  border-radius: 8px;
}
p {
  color: black;
  background-color: none;
  border-radius: 8px;
}
input {
  width: 200px;
}
.btn {
  margin-left: 16px;
  text-decoration:none;
  padding: 6px;
  background-color: tan;
  font-weight: bold;
  border-radius: 8px;
  font-size: 8;
}



