@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.create-form {
  max-width: 600px;
}
.user-list .online-user {
  display: inline-block;
  margin-right: 10px;
  width: 12px;
  height: 12px;
  background: #0ebb50;
  border-radius: 50%;
  margin-top: 2px;
}
.user-list {
  width: 250px;
  min-width: 250px;
  padding: 30px;
  box-sizing: border-box;
  color: var(--heading-color);
}
.user-list h2 {
  text-align: right;
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 1.2em;
}
.user-list .user-list-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px auto;
}
.user-list h2{
  text-align: center;
}
.user-list .avatar {
  margin-left: 10px;
  width: 40px;
  height: 40px;
}
.avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar img {
  width: 100%;
  height: 100%;
}
.sidebar {
  width: 300px;
  min-width: 300px;
  background: var(--primary-color);
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  align-items: left;
  color: #fff;
}
.sidebar-content {
  position: fixed;
  width: inherit;
}
.sidebar .user {
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  padding: 40px 30px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.sidebar .links {
  margin-top: 80px;
  margin-left: 20px;
}

.sidebar .links li {
  margin-top: 10px;
  list-style-type: none;
}
.sidebar .links a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
}
.sidebar .links img {
  margin-right: 10px;
  filter: invert(100%);
}
.sidebar .links a.active {
  color: #555;
  background: var(--bg-color);
  border-radius: 20px 0 0 20px;
}
.sidebar .links .active img {
  filter: invert(40%);
}
.navbar {
  padding: 10px auto;
  display: flex;
  align-items: center;
  max-width: 100vw;
  margin: 10 auto;
  border-bottom: 1px solid black;
}
.navbar h1 {
  color: green;
}
.navbar .links {
  margin: auto;
  
}
.navbar a {
  margin-left: 16px;
  text-decoration:none;
  padding: 6px;
  background-color: tan;
  font-weight: bold;
  border-radius: 8px;
}
.navbar button {
  margin-left: 16px;
  text-decoration:none;
  padding: 10px;
  background-color: tan;
  font-weight: bold;
  border-radius: 8px;
}
.navbar button:hover {
  color:green;
}
.navbar a:hover {
  color:green;
}

.navbar-routes div{
display: block;
}

.contact-filter button{
  margin-left: 16px;
  text-decoration:none;
  padding: 6px;
  background-color: tan;
  font-weight: bold;
  border-radius: 8px;
}
.contact-list {
width: 100%;
margin: 10px auto;
list-style-type: none;
}
.contact-list ul{
padding: 0;
list-style-type: none;
}
.contact-list li {
  border: 1px solid black;
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 4px 4px 6px tan;
  border-radius: 4px;
  list-style-type: none;
  margin: 5px 0;
}


* {
  margin: 10px;
  font-family: "Quicksand";
  color: #333;

}
h1 {
    color: black;
    background-color: tan;
    border-radius: 8px;
}
h2 {
  color: black;
  background-color: tan;
  border-radius: 8px;
}
p {
  color: black;
  background-color: none;
  border-radius: 8px;
}



